* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
html,
body {
  overflow-x: hidden;
  max-width: 100vw;
  scroll-behavior: smooth;
}
:root {
  --secondary-color: #ccff33;
  --primary-color: #08e15f;
}
#scrollup a {
  text-decoration: none;
  color: white;
}
#scrollup {
  position: fixed;
  height: 4em;
  width: 4em;
  right: 30px;
  z-index: 999;
  bottom: 30px;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.5s;
}
.hide {
  opacity: 0;
}
.show {
  opacity: 1;
}
nav {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar {
  width: 100%;
  padding: 4vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar h2 {
  text-transform: lowercase;
}
.navbar h2 span {
  color: var(--primary-color);
  text-transform: uppercase;
}
.navbar i {
  display: none;
}
.navbar ul {
  list-style: none;
  display: flex;
  gap: 3vw;
  justify-content: space-between;
}
.navbar ul i {
  display: none;
}
.navbar ul li a {
  text-decoration: none;
  padding: 10px 3px;
  color: #111;
}

/* hero section  */
.hero {
  height: 90vh;
  background: url("./img/heroBg.jpg") center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero div h1 {
  font-size: 12vh;
  color: #fff;
  text-align: center;
}
.hero div h1 span {
  color: var(--secondary-color);
  text-align: center;
}
.hero div p {
  margin-top: 8px;
  text-align: center;
  color: white;
  font-size: 3vh;
}
.hero div a {
  text-decoration: none;
  margin: 12px;
}
.hero div button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
  border-radius: 40px;
  margin: auto;
  border: none;
  background-color: var(--secondary-color);
  cursor: pointer;
  gap: 6px;
  font-size: 14px;
}
.hero div button i {
  transition: 0.2s ease-in-out;
}
.hero div button:hover i {
  margin-left: 12px;
}
/* about section */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10vh 4vh;
}
.about h1 {
  font-size: 6vh;
  margin: 0;
  line-height: 90%;
}
.about h1 span {
  font-size: 6vh;
  color: var(--primary-color);
}
.about p {
  margin: 1em 0 2em 0;
}
.aboutContent {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: 0 2em;
  flex-wrap: wrap;
  gap: 2em;
}
.aboutCard {
  width: 18em;
  height: 15em;
  padding: 4em 1em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 2px solid var(--secondary-color);
  border-radius: 16px;
}
.aboutCard i {
  font-size: 4rem;
  margin: 0.4em 0;
  color: var(--primary-color);
}
.aboutCard h3 {
  font-size: 1.4rem;
}
.aboutCard p {
  font-size: 12px;
  width: 90%;
}
/* gallery section */
.gallery {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 4vh;
}
.gallery h1 {
  font-size: 6vh;
  margin: 0;
  line-height: 90%;
}
.gallery h1 span {
  color: var(--primary-color);
}
.gallery p {
  margin: 1em 0 2em 0;
  text-align: center;
}
.galleryDisplay {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3em;
  margin: 0 2vw;
}
.galleryDisplay img {
  border-radius: 12px;
  width: 20em;
}
/* subscription section */
.subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10vh 4vw;
}
.subscribe h1 {
  font-size: 6vh;
  margin: 0;
  line-height: 90%;
}
.subscribe h1 span {
  color: var(--primary-color);
}
.subscribe p {
  margin: 1em 0 2em 0;
  text-align: center;
}
.subscribeContent {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: 0 2em;
  flex-wrap: wrap;
  gap: 2em;
}
.subscribeCard {
  width: 19em;
  border: 4px solid var(--primary-color);
  display: flex;
  border-radius: 16px;

  align-items: center;
  flex-direction: column;
}
.top {
  height: 45%;
  width: 95%;
  text-align: center;
  padding: 2em 0;
  border-bottom: 1px solid var(--primary-color);
}
.subscribeCard h3 {
  color: var(--primary-color);
  font-size: 1.8rem;
}
.subscribeCard ul li {
  list-style: none;
  margin: 0.4em;
}
.subscribeCard ul li i {
  color: var(--primary-color);
  font-size: 1rem;
}
.subscribeBtn {
  padding: 10px 20px;
  width: 80%;
  margin: 1em;
  background: var(--primary-color);
  border-radius: 24px;
  border: none;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
.footer {
  height: 100%;
  background: #000;
  color: wheat;
  padding: 3em 0;
}
.footerUp {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.footerUp h2 {
  font-size: 3rem;
}
.footerUp h2 span {
  color: var(--primary-color);
  font-size: 3rem;
}
.footer .footerUp .right {
  display: flex;
  column-gap: 4em;
}
.footer .footerUp .right .links h3 {
  margin-bottom: 16px;
}
.footer .footerUp .right .links li {
  list-style: none;
  margin: 5px 0;
}

.footer .footerUp .right .links a {
  text-decoration: none;
  color: #fff;
  margin: 0 6px;
}
.footer .footerUp .right .links i {
  font-size: 28px;
  cursor: pointer;
}
.footer .footerUp .right .links li a {
  text-decoration: none;
  font-weight: 300;

  color: rgb(219, 219, 219);
}
.line {
  width: 90%;
  height: 1px;
  background: #fff;
  margin: 20px auto;
}
.footerDown {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
}
.copy {
  font-size: 12px;
}
/* RESPONSIVE FOR PHONE  */
@media only screen and (max-width: 600px) {
  body {
    width: 100vw;
  }
  #scrollup {
    position: fixed;
    right: 102vw;
    bottom: 100px;
  }
  .hide {
    opacity: 0;
  }
  .show {
    opacity: 1;
  }
  .navbar ul {
    justify-content: space-evenly;
    flex-direction: column;
    position: fixed;
    top: 0vh;
    right: -100vw;

    overflow-x: hidden;
    background: white;
    width: 100%;
    text-align: center;
    height: 100vh;
  }

  .navbar i {
    display: block;
    font-size: 22px;
    cursor: pointer;
  }
  .navbar ul i {
    position: absolute;
    right: 4vw;
    top: 3vh;
    display: block;
    font-size: 26px;
    cursor: pointer;
  }
  .click {
    left: 0;
  }
  .hero div {
    width: 80%;
  }
  .hero div h1 {
    font-size: 5vh;
    color: #fff;
    text-align: left;
  }
  .hero div h1:nth-child(2) {
    font-size: 7vh;
    color: #fff;
    text-align: left;
  }
  .hero div p {
    text-align: center;
    color: white;
    font-size: 3vh;
    text-align: left;
  }
  .hero div button {
    margin: 0;
  }
  .about h1 {
    font-size: 4vh;
    /* text-align: center; */
  }
  .about h1 span {
    font-size: 4vh;
  }
  .about > p {
    font-size: 12px;
  }
  .aboutCard i {
    font-size: 3rem;
    margin: 0.4em 0;
    color: var(--primary-color);
  }
  .aboutCard h3 {
    font-size: 1rem;
  }
  .aboutCard p {
    font-size: 12px;
    /* width: 90%; */
  }
  .gallery h1 {
    font-size: 5vh;
  }
  .gallery p {
    font-size: 12px;
  }
  .galleryDisplay img {
    border-radius: 12px;
    width: 18em;
  }
  .subscribe h1 {
    font-size: 4vh;
    text-align: left;
  }

  .footer .footerUp {
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    width: 90%;
  }
  .right {
    flex-direction: column;
  }
  .right .links {
    margin-top: 2em;
  }
  .footerDown {
    flex-direction: column;
  }
}
@media only screen and (min-width: 400px) and(max-width: 600px) {
  .navbar ul {
    justify-content: space-evenly;
    flex-direction: column;
    position: absolute;
    top: 0vh;
    right: -200vw;
    background: white;
    width: 100%;
    text-align: center;
    height: 100vh;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .navbar i {
    display: block;
    font-size: 22px;
    cursor: pointer;
  }
  .navbar ul i {
    position: absolute;
    right: 4vw;
    top: 3vh;
    display: block;
    font-size: 26px;
    cursor: pointer;
  }
  .click {
    transition: left 0.2s;
    right: 0;
    left: 0;
  }
  .hero div h1 {
    font-size: 10vh;
    color: #fff;
    text-align: center;
  }
  .hero div h1:nth-child(2) {
    font-size: 12vh;
    color: #fff;
    text-align: center;
  }
  .hero div p {
    text-align: center;
    color: white;
    font-size: 3vh;
  }
}
@media only screen and (min-width: 600px) and (max-width: 770px) {
  .hero div h1 {
    font-size: 10vh;
    color: #fff;
    text-align: center;
  }
  .footerUp h2 {
    font-style: 1rem;
  }
}
